body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/360_F_954804955_HMI2qNhkoEkQuETJHuBl0tXy39BTipdN.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s ease;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.faq {
    margin: 20px auto;
    max-width: 800px;
}

.faq-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.faq-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 14px;
    color: #666;
}

.faq-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .faq {
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    nav ul li a {
        font-size: 12px;
        padding: 5px;
    }

    .faq-item h2 {
        font-size: 16px;
    }

    .faq-item p {
        font-size: 12px;
    }
}
